<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/viewing.css">
    <title>Workshop Booking System - View Bookings</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/images/karim.png" class="logo">
    <ul>
            <li><a href="/home">Home</a></li>
             <li><a href="/create_booking">Create a New Booking</a></li>
             <li><a href="/modify_booking">Modify a Booking</a></li>
             <li><a href="/report_booking">Report on Bookings</a></li>
             <li><a href="/delete_booking">Delete a Booking</a></li>
        </ul>
        </div>
    <main class="table">
        <section class="table__header">
        <h1>View Bookings</h1>
        </section>
    
        <section class="table__body">
          
            <table> 
       
    <thead>
        <tr>
            <th>Service chosen</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Booking Date</th>
            <th>Booking Time</th>
        </tr>
    </thead>
<tbody>

        <% bookings.forEach((booking) => { %>
            <tr>
                <td><%- booking && booking.workshopOption ? booking.workshopOption : 'N/A' %></td>
                <td><%- booking && booking.firstName ? booking.firstName : 'N/A' %></td>
                <td><%- booking && booking.lastName ? booking.lastName : 'N/A' %></td>
                <td><%- booking && booking.email ? booking.email : 'N/A' %></td>
                <td><%- booking && booking.phoneNumber ? booking.phoneNumber : 'N/A' %></td>
                <td><%= booking && booking.bookingDate ? booking.bookingDate : 'N/A' %></td>
                <td><%= booking && booking.bookingTime ? booking.bookingTime : 'N/A' %></td>
                                        <% }); %>
       
        </tr>
    </tbody>

   </table>
 </section>
    
 <div class="buttons-container">
    <button type="button" onclick="window.location.href='/create_booking'">
        <span></span>Choose a workshop
    </button>
    
    <button type="button" onclick="window.location.href='/process_booking'">
        <span></span>Go to see all bookings
    </button>
</div>
 
   
    </main>
    </div>
</body>
</html>
